<app-form formTitle="Reestablecer contraseña"
  [submitFn]="submit"
  [form]="resetPwdForm"
  buttonLabel="CAMBIAR CLAVE"
  [errorMessage]="errorMessage"
  [success]="isSuccess"
>
  <ng-container fields>
    <app-input type="password" label="Nueva clave" placeholder="Nueva clave" [parent]="resetPwdForm" controlName="password"></app-input>
    <app-input type="password"
      label="Repetir nueva clave"
      placeholder="Reingresa tu nueva clave"
      [parent]="resetPwdForm"
      controlName="checkPassword"
      [valid]="!resetPwdForm.errors?.['notSame']"></app-input>
  </ng-container>

  <ng-container errors>
    <div class="alert alert-red" *ngIf="resetPwdForm.errors?.['notSame']">
      <p><b>¡Oops!</b></p>
      <p class="message"><small>Las claves no coinciden.</small></p>        
    </div>

    <div class="alert alert-red" *ngIf="resetPwdForm.controls['password'].invalid && resetPwdForm.controls['password'].errors?.['minlength']">
      <p><b>¡Oops!</b></p>
      <p class="message"><small>Ingresa una clave de {{resetPwdForm.controls['password'].errors?.['minlength']['requiredLength']}} caracteres o más.</small></p>
    </div>
    <div class="alert alert-red" *ngIf="errorMessage && errorMessage.length > 0">
      <div>
        <p><b>¡Oops!</b></p>
        <p class="message"><small>{{errorMessage}}</small></p>
      </div>
    </div>
  </ng-container>

  <ng-container success>
    <div class="alert alert-success">
      <p><b>¡Bien!</b></p>
      <p class="message"><small>Hemos actualizado tu clave de manera exitosa.</small></p>
      <p class="message"><small>Ya puedes entrar <a class="text-teal-600 hover:text-teal-800" routerLink="/login">acá</a></small></p>
    </div>
  </ng-container>
</app-form>