<app-form formTitle="Registro"
  [submitFn]="submit"
  [form]="registerForm"
  buttonLabel="REGISTRARME"
  [errorMessage]="errorMessage"
  [success]="success"
>
  <ng-container fields>
    <app-input type="email" label="Correo" placeholder="tu@correo.com" [parent]="registerForm" controlName="email"></app-input>
    <app-input type="password" label="Clave" placeholder="Clave" [parent]="registerForm" controlName="password"></app-input>
    <app-input type="password"
      label="Repetir clave"
      placeholder="Reingresa tu clave"
      [parent]="registerForm"
      controlName="checkPassword"
      [valid]="!registerForm.errors?.['notSame']"></app-input>
  </ng-container>

  <ng-container errors>
    <div class="alert alert-red" *ngIf="registerForm.errors?.['notSame']">
      <p><b>¡Oops!</b></p>
      <p class="message"><small>Las claves no coinciden.</small></p>        
    </div>
    
    <div class="alert alert-red" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].value.length > 0">
      <p><b>¡Oops!</b></p>
      <p class="message"><small>No es un correo válido.</small></p>
    </div>
    
    <div class="alert alert-red" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].errors?.['minlength']">
      <p><b>¡Oopsa!</b></p>
      <p class="message"><small>Ingresa una clave de {{registerForm.controls['password'].errors?.['minlength']['requiredLength']}} caracteres o más.</small></p>
    </div>

    <div class="alert alert-red" *ngIf="errorMessage && errorMessage.length > 0">
      <div>
        <p><b>¡Oops!</b></p>
        <p class="message"><small>{{errorMessage}}</small></p>
      </div>
    </div>
  </ng-container>

  <ng-container success>
    <div class="alert alert-success">
      <p><b>¡Bien!</b></p>
      <p class="message"><small>Registro exitoso.</small></p>
      <p class="message"><small>Te redirigiremos al login en {{timerSeconds}} segundos...</small></p>
    </div>
  </ng-container>
</app-form>