<div id="main-nav-wrap" class="flex align-middle h-full justify-between items-center container mx-auto">
  <figure clas="logo">
    <img src="https://via.placeholder.com/200x40" alt="">
  </figure>
  <nav id="main-nav">
    <ul class="flex justify-end">
      <li class="px-5"><a class="text-white hover:text-teal-300 duration-500" routerLink="">Inicio</a></li>
      <li class="px-5" *ngIf="!isLoggedIn"><a class="text-white hover:text-teal-300 duration-500" routerLink="login" routerLinkActive="text-teal-300">Entrar</a></li>
      <li class="px-5" *ngIf="!isLoggedIn"><a class="text-white hover:text-teal-300 duration-500" routerLink="register" routerLinkActive="text-teal-300">Registro</a></li>
      <li class="px-5" *ngIf="isLoggedIn"><a class="text-white hover:text-teal-300 duration-500" routerLink="account" routerLinkActive="text-teal-300">Cuenta</a></li>
      <li class="px-5" *ngIf="isLoggedIn"><a class="text-white hover:text-teal-300 duration-500" routerLink="login" routerLinkActive="text-teal-300" (click)="onLogout()">Salir</a></li>
    </ul>
  </nav>
</div>