<div class="flex align-middle justify-between items-center container mx-auto">
  <figure clas="logo">
    <img src="https://via.placeholder.com/200x40" alt="">
  </figure>
  <nav id="main-nav">
    <ul class="flex justify-end">
      <li class="px-5"><a class="text-white hover:text-teal-300 duration-500" routerLink="">Inicio</a></li>
      <li class="px-5"><a class="text-white hover:text-teal-300 duration-500" routerLink="login">Entrar</a></li>
      <li class="px-5"><a class="text-white hover:text-teal-300 duration-500" routerLink="register">Registro</a></li>
    </ul>
  </nav>
</div>