<app-form formTitle="Entrar"
  [submitFunc]="submit"
  [form]="loginForm"
  buttonLabel="ENTRAR"
  [errorMessage]="errorMessage"
>
  <ng-container fields>
    <app-input type="email" label="Correo" placeholder="tu@correo.com" [parent]="loginForm" controlName="email"></app-input>
    <app-input type="password" label="Clave" placeholder="Clave" [parent]="loginForm" controlName="password"></app-input>
  </ng-container>

  <ng-container errors>
    <div class="alert alert-red" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].value.length > 0">      
      <p><b>¡Oops!</b></p>
      <p class="message"><small>No es un correo válido.</small></p>
    </div>
    
    <div class="alert alert-red" *ngIf="errorMessage && errorMessage.length > 0">
      <p><b>¡Oops!</b></p>
      <p class="message"><small>{{errorMessage}}</small></p>
    </div>
  
  </ng-container>
</app-form>