<app-form formTitle="Entrar"
  [submitFn]="submit"
  [form]="loginForm"
  buttonLabel="ENTRAR"
  [showRecoverPwd]="true"
  [errorMessage]="errorMessage"
  (onCloseModal)="closeModal()"
  (onOpenModal)="openModal()"
>
  <ng-container fields>
    <app-input type="email" label="Correo" placeholder="tu@correo.com" [parent]="loginForm" controlName="email"></app-input>
    <app-input type="password" label="Clave" placeholder="Clave" [parent]="loginForm" controlName="password"></app-input>
  </ng-container>

  <ng-container errors>
    <div class="alert alert-red" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].value.length > 0">      
      <p><b>¡Oops!</b></p>
      <p class="message"><small>No es un correo válido.</small></p>
    </div>
    
    <div class="alert alert-red" *ngIf="errorMessage && errorMessage.length > 0">
      <p><b>¡Oops!</b></p>
      <p class="message"><small>{{errorMessage}}</small></p>
    </div>  
  </ng-container>
</app-form>

<app-modal
[show]="showModal"
(onCloseModal)="closeModal()"
>
  <h3 class="mb-5">Recupera tu contraseña</h3>
  <app-form
    [form]="recoverPwdForm"
    [submitFn]="recoverPwdSubmit"
    buttonLabel="ENVIAR"
    [errorMessage]="recoverPwdErrorMessage"
    [success]="isPwdRecoverySuccess"
    extraClasses="w-full !drop-shadow-none p-0"
  >
    <ng-container description>
      <p>Ingresa tu correo. Si está registrado, te enviaremos un link para reestablecer tu contraseña.</p>
    </ng-container>
    <ng-container fields>
      <app-input type="email" label="Correo" placeholder="tu@correo.com" [parent]="recoverPwdForm" controlName="recoverPwdEmail"></app-input>
    </ng-container>

    <ng-container errors>
      <div class="alert alert-red" *ngIf="recoverPwdForm.controls['recoverPwdEmail'].invalid && recoverPwdForm.controls['recoverPwdEmail'].value.length > 0">      
        <p><b>¡Oops!</b></p>
        <p class="message"><small>No es un correo válido.</small></p>
      </div>
      
      <div class="alert alert-red" *ngIf="recoverPwdErrorMessage && recoverPwdErrorMessage.length > 0">
        <p><b>¡Oops!</b></p>
        <p class="message"><small>{{recoverPwdErrorMessage}}</small></p>
      </div>  
    </ng-container>

    <ng-container success>
      <div class="alert alert-success">
        <p><b>¡Bien!</b></p>
        <p class="message"><small>Hemos enviado un correo para restablecer tu contraseña.</small></p>
      </div>
    </ng-container>
  </app-form>
</app-modal>